
{:pom {:group-id "cirru",
       :artifact-id "favored-edn",
       :version "0.1.1",
       :name "EDN formatter in Cirru's favor"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
